<!DOCTYPE html>

<html lang="en">
    <head>
        <title> Registered Authors </title>
        <link rel="stylesheet" 
            href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css"
            integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" 
            crossorigin="anonymous">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="background-color: burlywood">
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            <a class="navbar-brand" href="#"> Library Management System</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>
            
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/books}">Books Available </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/authors}"> Registered Authors </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/members}"> Library Members </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/borrowings}"> List of Borrowings </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" th:href="@{/logregister}">Login/Register </a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="container">
            <div class="row">
                <h1> Authors Registered </h1>
            </div>
            <div class="row">
                <div class="col-lg-3">
                    <a th:href = "@{/authors/new}" class="btn btn-primary btn-sm bm-3">
                        Add Author
                    </a>   
                </div>
            </div>
            <br/>
            <table class="table table-striped table-bordered">
                <thead class="table-dark"> 
                    <tr>
                        <th> Author's Name </th>
                        <th> Author's Birth Date </th>
                        <th> Author's Nationality </th>
                        <th> Author's Biography </th>
                        <th> Action </th>
                    </tr>
                </thead>
                <tbody>
                    <tr th:each= "author: ${authors}">
                        <td th:text = "${author.name}"> </td>
                        <td th:text = "${author.birthDate}"> </td>   
                        <td th:text = "${author.nationality}"> </td>
                        <td th:text = "${author.biography}"> </td>
                        <td>
                            <a th:href="@{/authors/edit/{id}(id=${author.id})}"
                               class = "btn btn-primary">Update</a>
                            <a th:href="@{/authors/{id}(id=${author.id})}"
                               class = "btn btn-danger">Delete</a>
                        </td>
                    </tr>
                </tbody>    
            </table>
        </div>
    </body>
</html>